.story {
  margin-top: 48px;
}
.story-title {
  @extend %main-title;
}

.story-desc {
  @extend %main-desc;
}

.story-box {
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .story-card {
    margin-top: 20px;
    width: 40%;
    cursor: pointer;

    @include mobile {
      width: 80%;
      display: none;

      &:nth-of-type(-n+3) {
        display: block;
      }
    }

    :global(.ant-card-meta-description) {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; 
      overflow: hidden;
      text-overflow:  ellipsis;
    }
  }

  .story-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 100%;

    .story-more-link {
      font-size: 14px;
      color: #0b75cb;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}