.admin-layout {
  height: 100%;
  width: 100%;
}
.admin-logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.admin-header {
  font-size: 22px;
  font-weight: bold;
  background-color: #fff;
}