.admin-layout {
  min-height: 100%;
  width: 100%;
}
.admin-logo {
  margin: 16px auto;
  width: 50%;
}

.admin-header {
  font-size: 22px;
  font-weight: bold;
  background-color: #fff;
}

.admin-sider {
  position: sticky;
  top: 0;
  height: 100vh;
}